.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 48px;
  overflow: auto;
  background-color: #E0E0E0;
}

.content {
  flex: 1;
  background-color:white;
  height: 100%;
  border-radius: 24px;
  display: flex;
}

.feedback {
  overflow: auto;
  margin-bottom: 24px;
}

.header__item  {
  padding: 20px;
  text-align: center;
}