:root {
  font-family: Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body { 
  margin: 0;
  padding: 0;
}

button {
  font-family: Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-decoration: none;
  border:none;
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

/*  mobile view */
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: #E0E0E0;
}

.page__container {
  flex: 1;
  background-color:white;
  height: 100%;
  display: flex;
}

.page__mobile-view {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.page__desktop-view {
  display: none;
}

.page__content {
  overflow: auto;
  height: 100%;
}

.header__item  {
  padding: 20px;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  color: black;
  border-bottom: 1px solid #ededed;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(288px,1fr));
  gap: 32px;
  padding: 32px;
}

.product-card {
  border-radius: 8px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product-card__icon {
  width: 64px;
  height: 64px;
  margin-bottom: 24px;
}

.product-card__name {
  font-weight: 500;
  margin-bottom: 8px;
  font-size: 24px;
}

.product-card__color {
  font-size: 16px;
}

/* Tablet view */
@media (min-width: 768px) {
  .page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 48px;
    overflow: auto;
    background-color: #E0E0E0;
  }
  
  .page__container {
    flex: 1;
    background-color:white;
    height: 100%;
    border-radius: 24px;
    display: flex;
    overflow: hidden;
  }
}

/* Desktop view */
@media (min-width: 1440px) {
  .page__mobile-view {
    display: none;
  }

  .page__desktop-view {
    display: grid;
    grid-template-columns: 1fr 352px;
    grid-auto-rows: min-content 1fr;
    flex: 1;
    box-shadow: 0px 1px 4px 0px #0000000D;
  }

  .header__item--feedback, .page__content--feedback {
    background-color: #f8f8f8;
  }
}